<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body>
        <div class="container page-header">
            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">PHP News</h1>
                    <p class="lead my-3">It's a place where interesting things happens.</p>
                </div>
            </div>
        </div>
        <main role="main" class="container">
            <div class="row">
                <div class="col-9">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-3">
                    <h3>Contribute</h3>
                    If you want to put your blog here - just create a <a href="https://github.com/php-news/php-news/edit/master/config/packages/app.yaml" target="_blank"> Pull Request</a>!

                    <p></p>
                    <h3>Newsletter</h3>

                    Be always up-to-date and get all the post on you email every week.

                    <form method="post" action="https://app.freshmail.com/pl/actions/subscribe/">
                        <input type="hidden" name="subscribers_list_hash" value="upcekmjadg" />
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" name="freshmail_email" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary">Subscribe!</button>
                    </form>
                </div>
            </div>
        </main>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
